body{
    width: 1440px;
    height: 2491px;
    top: -225px;
    left: 709px;
    background-color: black;
    color: aliceblue;
}

.banner{
    
    width: 1440px;
    height: 605px;
    
    background-image: url(../trilha-css-desafio-01/assets/images/banner.png), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(49, 169, 221, 0.11) 100%);
    border: 0px, 0px, 1px, 0px;
    border-bottom: 1px solid rgba(51, 168, 219, 1);

}

.banner-content > h1{
    width: 434px;
    height: 47px;

    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;

    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);



}

.logo{
    width: 268px;
    height: 268px;
    left: 121px;
    background: rgba(0, 0, 0, 0.2);

}
.logo>img{
    width: 248px;
    height: 214px;
    top: 27px;
    left: 131px;

}