
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');


body{
    
}

.banner{
 
}

.banner-content{

}

.banner-content > h1{
    width: 434px;
    height: 47px;

    -webkit-background-clip: text; /*propriedade para alguns navegadores*/
    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    color: transparent;
    background-clip: text;

    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 46.96px;
    font-size: 40px;
    font-weight: 900;
    white-space: nowrap;

}

.banner-content > p{
    width: 510px;
    height: 46px;

    font-family: 'Raleway', sans-serif;
    line-height: 23.48px;
    font-size: 20px;
    font-weight: 400;
    white-space: break-spaces;
    text-align: justify;
    
    
}

.banner-content > button{

}

.logo{
    width: 268px;
    height: 268px;

    border: 0px solid   rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2); 
}

.logo > img{
    width: 248px;
    height: 214px;
    margin: 22px 10px;
}